@media only screen and (max-width: 73em) {

	.cssmenu > ul > li > a {
		padding: 10px !important;
		font-size: 10pt !important;
	}
	.cssmenu > ul  {
		text-align: center;
	}
	.cssmenu > ul > li:hover > ul {

	}	
}

.cssmenu {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 80px;
	letter-spacing: 0 !important;
	-webkit-text-stroke: 0 !important;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}
.cssmenu > ul  {
	text-align: center;
	height: 80px;
}

.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a,
.cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 10000;
}
.cssmenu:after,
.cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.cssmenu #menu-button {
	display: none;
}
.cssmenu > ul {
	background-color: #484F6A;
}
.cssmenu.align-right > ul > li {
	float: right;
}
.cssmenu > ul > li {
	/* float: left; */
	display: inline-block;
}
.cssmenu.align-center > ul {
	float: none;
	text-align: center;
}
.cssmenu.align-center > ul > li {
	float: none;
}
.cssmenu.align-center ul ul {
	text-align: left;
}
.cssmenu > ul > li > a {
	padding: 0px 15px 0px 15px;
	display: table-cell;
	vertical-align: middle;
	font-size: 14pt;
	height: 80px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
}
.cssmenu > ul > li:hover > a,
.cssmenu > ul > li > a:hover {
	background-color: #484F6A;
	border-radius: 0;
}
.cssmenu > ul > li.active > a {
	border-bottom: 1px solid #fff;
}
/*
.cssmenu > ul > li.has-sub > a {
	padding-right: 14px;
}*/
/*
.cssmenu > ul > li.has-sub > a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #fff;
	right: 17px;
	top: 15px;
} */

.sep-top {
	border-top: 2px solid #eee !important;
}

.cssmenu > ul > li.has-sub.active > a::after,
.cssmenu > ul > li.has-sub:hover > a {
	border-top-color: #ffffff;
}
.cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 30px;
	padding-top: 6px;
	font-size: 13px;
	opacity: 0;
	-webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
	-moz-transition: top 0.2s ease, opacity 0.2s ease-in;
	-ms-transition: top 0.2s ease, opacity 0.2s ease-in;
	-o-transition: top 0.2s ease, opacity 0.2s ease-in;
	transition: top 0.2s ease, opacity 0.2s ease-in;
}
.cssmenu.align-right ul ul {
	text-align: right;
}
.cssmenu > ul > li > ul::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: -4px;
	left: 20px;
}
.cssmenu.align-right > ul > li > ul::after {
	left: auto;
	right: 20px;
}

.cssmenu ul ul ul::after {
	/*content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: #777777;
	top: 11px;
	left: -4px;
	*/
}

.cssmenu.align-right ul ul ul::after {
	border-right-color: transparent;
	border-left-color: #ffffff;
	left: auto;
	right: -4px;
}
.cssmenu > ul > li > ul {
	top: 120px;
}
.cssmenu > ul > li:hover > ul {
	top: 80px;
	left: 0;
	opacity: 1;
	z-index: 10000;
	text-align: left !important;
	background-color: #484F6A;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
}
.cssmenu.align-right > ul > li:hover > ul {
	left: auto;
	right: 0;
}
.cssmenu.align-right ul ul ul {
	padding-right: 6px;
}
.cssmenu ul ul > li:hover > ul {
	left: 210px;
	top: 0;
	opacity: 1;
}
.cssmenu.align-right ul ul > li:hover > ul {
	left: auto;
	right: 100%;
	opacity: 1;
}
.cssmenu ul ul li a {
	text-decoration: none;
	font-weight: 400;
	padding: 11px 25px;
	width: 210px;
	color: #777777;
	background: #f9f9f9;
}
.cssmenu ul ul li:hover > a,
.cssmenu ul ul li.active > a {
	color: #333333;
	background-color: #ddd;
}
.cssmenu ul ul li:first-child > a {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.cssmenu ul ul li:last-child > a {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.cssmenu > ul > li > ul::after {
	position: absolute;
	display: block;
}
.cssmenu ul ul li.has-sub > a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-left-color: #777777;
	right: 17px;
	top: 14px;
}
.cssmenu.align-right ul ul li.has-sub > a::after {
	border-left-color: transparent;
	border-right-color: #777777;
	right: auto;
	left: 17px;
}
.cssmenu ul ul li.has-sub.active > a::after,
.cssmenu ul ul li.has-sub:hover > a::after {
	border-left-color: #333333;
}
.cssmenu.align-right ul ul li.has-sub.active > a::after,
.cssmenu.align-right ul ul li.has-sub:hover > a::after {
	border-right-color: #333333;
	border-left-color: transparent;
}

.cssmenu ul ul ul {
	text-align: left;
}

@media only screen and (min-width: 58em) {

	.cssmenu ul ul ul {
		padding-top: 0;
		border-left: 5px solid #bbb;





		-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
		-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
	}
	
	.menu-overlay {
		display: none !important;
	}

}
@media only screen and (max-width: 58em) {


	

	.cssmenu {
		background: #bbb;
		height: 0px;
		-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
		-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.42);
	}
	.cssmenu ul ul ul {
		padding-top: 0;
		border-left: 10px solid #bbb;
	}
	.cssmenu > ul > li:hover > ul {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	.cssmenu #menu-button {
		  background-color: #2b5b84 !important;
	}
	.cssmenu > ul {
		display: none;
		height: auto;
	}
	.cssmenu > ul.open {
		display: block;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.cssmenu.align-right > ul {
		float: none;
	}
	.cssmenu.align-center > ul {
		text-align: left;
	}
	.cssmenu > ul > li,
	.cssmenu.align-right > ul > li {
		float: none;
		display: block;
	}
	.cssmenu > ul > li > a {
		padding: 18px 25px 18px 25px;
		border-right: 0;
		display: block;
		height: 40px;
	}
	.cssmenu > ul > li:hover > a,
	.cssmenu > ul > li.active > a {
		background: rgba(0, 0, 0, 0.1);
	}
	.cssmenu #menu-button {
		position: absolute;
		top: -70px;
		right: 0px;
		width: 70px;
		height: 70px;
		display: block;
		text-decoration: none;
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		padding: 25px;
		letter-spacing: 1px;
		background-color: #f9f9f9;
		cursor: pointer;
	}
	.cssmenu ul ul,
	.cssmenu ul li:hover > ul,
	.cssmenu > ul > li > ul,
	.cssmenu ul ul ul,
	.cssmenu ul ul li:hover > ul,
	.cssmenu.align-right ul ul,
	.cssmenu.align-right ul li:hover > ul,
	.cssmenu.align-right > ul > li > ul,
	.cssmenu.align-right ul ul ul,
	.cssmenu.align-right ul ul li:hover > ul {
		left: 0;
		right: auto;
		top: auto;
		opacity: 1;
		width: 100%;
		padding: 0;
		position: relative;
		text-align: left;
	}
	.cssmenu ul ul li {
		width: 100%;
	}
	.cssmenu ul ul li a {
		width: 100%;
		box-shadow: none;
		padding-left: 35px;
	}
	.cssmenu ul ul ul li a {
		padding-left: 45px;
	}
	.cssmenu ul ul li:first-child > a,
	.cssmenu ul ul li:last-child > a {
		border-radius: 0;
	}
	.cssmenu > ul > li.has-sub > a::after,
	.cssmenu ul ul li.has-sub > a::after {
		display: none;
	}
	
}


#menu-button-image {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;

	overflow:hidden;
}

.menu-button-image-180 {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
}